@media (min-width: 768px) {
	.hamburger {
		display: none;
	}

	.mobile-book-btn {
		display: none;
	}

	#header {
		flex-direction: row;
		padding: 20px;
		margin-left: 22rem;
	}

	.header-logo {
		display: none;
	}
	.menu-logo {
		display: block;
	}

	.header-top {
		width: auto;
	}

	nav {
		position: static;
		width: auto;
		height: auto;
		background: none;
		display: block;
	}

	nav ul {
		flex-direction: row;
		gap: 30px;
	}

	nav ul li a {
		font-size: 16px;
		text-transform: none;
	}

	.header-logo {
		height: 100px;
		width: 425px;
	}

	.desktop-book-btn {
		display: flex;
		background-color: var(--btn-bg-primary-color);
		height: 50px;
		width: 180px;
		justify-content: center;
		align-items: center;
		font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
		font-size: 20px;
		text-transform: uppercase;
		color: var(--btn-txt-primary-color);
		margin-left: 30px;
	}


	/*Footer*/

	footer {
		height: 30vh;
	}

	.footer-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.tlfMail {
		display: flex;
	}

	.cvrWeb {
		display: flex;
	}
}
